.App {
  text-align: center;
}
.container-fluid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding-bottom: 10px;
}
input {
  position: relative;
}
.d-flex div {
  flex-direction:row;
  justify-content:center;
  align-items:center;
}
.text-danger {
  position: absolute;
  right: 57%;
  margin: -5px 0;
  display: block;
}


.App-link {
  color: #61dafb;
}

@media screen and (max-width: 600px) {
  .container-fluid {
    grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
  }
  div.d-flex {
flex-direction: column !important;
justify-content: center !important;

  }
  div .d-flex div{

    margin: auto !important;
  }
}
